@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
}
body {
  background-color: rgba(255, 255, 255, 0);
}
.navbar {
  width: 100%;
  background: #000;
}
.navbar > nav ul {
  list-style: none;
  display: flex;
}
.navbar > nav > ul li {
  align-items: center;
  padding: 1rem 0;
}
.navbar > nav > ul li a {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.3em;
  text-decoration: none;
}
.navbar a:hover {
  background: green;
}
.navbar a.disabled {
  color: white;
}
#check {
  display: none;
}
.checkarea {
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.checkarea label {
  background-color: black;
  width: 45px;
  height: 50px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(90deg);
}
.checkarea label span {
  background-color: white;
  height: 2px;
  width: 40%;
  margin: 5px 0px;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
.checkarea {
  display: none;
}
.breadcrumb {
  margin-top: 1rem;
}
.breadcrumb ul {
  list-style: none;
  display: flex;
}
.breadcrumb ul li {
  font-family: "Poppins", sans-serif;
}
.breadcrumb ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.breadcrumb ul > li + li:before {
  content: "\203a";
  color: grey;
  padding: 0.5rem;
}

.about_me {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  width: 100%;
  padding: 100px 200px;
}
.my_photo {
  width: 100%;
  border-radius: 50%;
  padding-left: 130px;
}
.who h1 h2 {
  font-family: "Poppins", sans-serif;
}
.who {
  margin-left: 500px;
  margin-top: 30px;
}
/* .who h2:before{
  content:"";
  display:block;
  width:50px;
  background:gold;
  height:2px;
  position:absolute;
  left:450px;
  top:31%;
  z-index:-2;
  }
  .who h2:after{
    content:"";
    display:block;
    width:50px;
    background:gold;
    height:2px;
    position:absolute;
    right:600px;
    top:31%;
    z-index:-2;
    } */
.my_desc {
  width: 100%;
  padding: 20px;
  box-shadow: 0 3px 5px -5px #000000;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
}
.content-table td,
.content-table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.content-table th {
  background-color: darkblue;
  color: #fff;
}
.content-table tbody tr:nth-child(even) {
  background-color: #b5651d;
}
@media (min-width: 1280px) {
  .about_me {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    width: 100%;
    padding: 100px 300px;
  }
  .my_photo {
    width: 100%;
    padding-left: 130px;
  }
  .my_desc {
    width: 92%;
    padding: 20px;
    box-shadow: 0 3px 5px -5px #000000;
  }
}

@media (max-width: 600px) {
  .navbar nav ul {
    flex-direction: column;
    display: none;
  }
  #check:checked + .navbar nav ul {
    display: flex;
  }
  .checkarea {
    display: flex;
  }
  .about_me {
    display: grid;
    margin-top: 10rem;
    padding: 10px;
    justify-content: center;
  }
  .who {
    margin-left: 120px;
    margin-top: 50px;
  }
  .about_me img {
    width: 100%;
    object-fit: cover;
    padding-right: 100px;
  }
  .about_me .my_desc {
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 5px -5px #000000;
  }
  .content-table table {
    width: 100%;
  }
  .content-table thead {
    display: none;
  }
  .content-table,
  .content-table tbody,
  .content-table tr,
  .content-table td {
    display: block;
    width: 100%;
  }
  .content-table .content-table tr {
    margin-bottom: 15px;
  }
  .content-table tbody tr:nth-child(even) {
    background-color: gold;
  }
  .content-table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .content-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .footer-start {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    row-gap: 2rem;
  }
}
.footer-bottom {
  background-color: rgb(27, 26, 26);
  color: #fff;
  padding: 1rem;
  display: flex;
  margin-top: 10rem;
}
