@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 0);
}
.navbar {
  width: 100%;
  background: #000;
}
.navbar > nav ul {
  list-style: none;
  display: flex;
}
.navbar > nav > ul li {
  align-items: center;
  padding: 1rem 0;
}
.navbar > nav > ul li a {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.3em;
  text-decoration: none;
}
.navbar a:hover {
  background: green;
}
.navbar a.disabled {
  color: white;
}
#check {
  display: none;
}
.checkarea {
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.checkarea label {
  background-color: black;
  width: 45px;
  height: 50px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(90deg);
}
.checkarea label span {
  background-color: white;
  height: 2px;
  width: 40%;
  margin: 5px 0px;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
.checkarea {
  display: none;
}
.breadcrumb {
  margin-top: 1rem;
}
.breadcrumb ul {
  list-style: none;
  display: flex;
}
.breadcrumb ul li {
  font-family: "Poppins", "sans-serif";
}
.breadcrumb ul li a {
  font-family: "Poppins", "sans-serif";
  text-decoration: none;
}
.breadcrumb ul > li + li:before {
  content: "\203a";
  color: grey;
  padding: 0.5rem;
}
.sup {
  position: relative;
  font-family: "Poppins", "sans-serif";
}
.sup::after {
  content: "";
  height: 2px;
  width: 9%;
  background: #f24432;
  position: absolute;
  left: 0;
  bottom: 0;
}
.container h4 {
  font-family: "Poppins", "sans-serif";
}
.container P {
  font-family: "lato", "sans-serif";
}
.who {
  margin-left: 500px;
  margin-top: 30px;
  font-family: "Poppins", "sans-serif";
}
.colls_social{
  display: none;
}
.menu_btn{

  cursor: pointer;
}

.coll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  margin: 3rem;
}
.professionals {
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.professionals:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 3fr 1fr;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  margin: 3rem;
}
.companies div {
  border: 0.1rem solid;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}
.companies div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .navbar nav ul {
    flex-direction: column;
    display: none;
  }
  #check:checked + .navbar nav ul {
    display: flex;
  }
  .checkarea {
    display: flex;
  }
  .who {
    margin-left: 130px;
    margin-top: 50px;
  }
  .coll {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
  .companies {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .sup {
    position: relative;
    font-family: "Poppins", "sans-serif";
  }
  .sup::after {
    content: "";
    height: 2px;
    width: 28.2%;
    background: #f24432;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.footer-bottom {
  background-color: rgb(27, 26, 26);
  color: #fff;
  padding: 1rem;
  display: flex;
  margin-top: 10rem;
}
