
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.breadcrumb{
  width:100%;
  padding:2rem 0 2rem 0;
  background-color:black;
}
.breadcrumb nav ul{
  display:flex;
  flex-direction:row;
  list-style:none;
}
.breadcrumb nav ul li a{
  color:white;
  text-decoration:none;
  padding:1rem;

}
.breadcrumb nav ul li a:hover{
  background-color:green;

}
@media (max-width:600px){
  .breadcrumb nav ul{
    display:flex;
    flex-direction:column;
    list-style:none;
  }
}


/* .breadcrumb{
  background-color:black;
  display:grid;
  list-style:none;


}
.breadcrumb >nav>ul {
  grid-template-rows: 15% 15% 15% 15% 15% 15%;
  font-size: 1rem;
  display:flex;
}
.breadcrumb >nav> ul > li > a {
  color:white;
  text-decoration: none;
}
.breadcrumb>nav>ul>li + li:before {
  padding:0.5rem;
  color:white;
  content: ">\00a0";
}

.breadcrumb > nav > ul> li a:hover {
  color:green;
  font-weight: bolder;
}
.breadcrumb >nav>ul>li a:disabled{
  pointer-events: none;
} */

.who{
  display:grid;
  grid-template-rows:1fr 1fr;
  justify-content:center;
  margin-top:5rem;
}
.coll{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:2rem;

}
.professionals{
  padding:2rem;
  margin-top:3rem;


}
.professionals:hover{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 5fr 1fr;
}
#companies{
  display:grid;
  
}
#companies>img{
  width:100%;
  grid-template-columns:50% 50%;
  /* padding:2rem; */
}
.footer{
  display:flex;
  background:black;
  color:white;
  width:100%;
  padding:2rem 0;
  margin-left:0px;;
  margin-top:20rem;
}




