
.breadcrumb{
  background-color:black;
  display:grid;
  list-style:none;


}
.breadcrumb >nav>ul {
  grid-template-rows: 15% 15% 15% 15% 15% 15%;
  font-size: 1rem;
  display:flex;
}
.breadcrumb >nav> ul > li > a {
  color:white;
  text-decoration: none;
}
.breadcrumb>nav>ul>li + li:before {
  padding:0.5rem;
  color:white;
  content: ">\00a0";
}

.breadcrumb > nav > ul> li a:hover {
  color:green;
  font-weight: bolder;
}
.breadcrumb >nav>ul>li a:disabled{
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .breadcrumb>nav>ul{
    display:block;
    margin-left:0;
  }
 
}
.coll{
  display:flex;

}
.professionals{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.professionals:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
#companies{
  display:grid;
  
}
#companies>img{
  width:100%;
  grid-template-columns:50% 50%;
  /* padding:2rem; */
}
footer{
  margin:10rem 0 0 0;
   left: 0;
   bottom: 0;
   padding:2rem 0 1rem 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: left;
}




