
.breadcrumb{
  margin-top:1rem;
  
}
.breadcrumb ul{
  list-style:none;
  display:flex;
}
.breadcrumb ul li a{
  text-decoration:none;
}
.breadcrumb ul>li + li:before{
  content:"\203a";
  color:grey;
  padding:0.5rem;

}
