*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}
nav{
  background:black;
  width:100%;
  height:70px;
}
nav ul{
  float:right;
  margin-right:20px;
}
.navbar a:hover{
  background-color:#00ffff;
  color: black;

}

.navbar a.active{
  background-color: #04AA6D;
  color: white;
  transition:.5s;
}
nav ul li{
  display:inline-block;
  list-style:none;
  margin-top:0px;
  line-height:80px;
  margin:0 5px;
  /* align-content: center;
  align-items: center; */
}
nav ul li a{
  text-decoration: none;
  border-radius:3px;
  font-size:16px; 
  color: #f2f2f2;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
.checkbtn{
  font-size:3opx;
  color:white;
  float:right;
  line-height:80px;
  margin-right:40px;
  cursor:pointer;
  display:none;


}
#check{
  display:none;
}
@media (max-width:900px){
  nav ul li a{
    font-size:16px;
  }
}
@media (max-width:800px){
  .checkbtn{
    display:block;
  }
  nav ul{
    position:fixed;
    width:100%;
    height:100vh;
    background:chocolate;
    top:60px;
    left:-100%;
    text-align:center;
    transition:all .5s;
  }
  nav ul li{
    display:block;
    margin:50px 0;
    line-height:30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover, a.active{
    background:none;
    color:rgb(121, 25, 150);
  }
  #check:checked ~ul{
    left:0;
  }
}
#profile{
  display: block;
  margin-top: 15rem;
  margin-bottom:3rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius:100px;
}
#about {
  display:grid;
  grid-template-rows:20% 80%;
  text-align: center;
}
#about > div{
  background-color:#eee;
  font-size:rem;
  padding:1em;

}
#about > div:nth-child(:only-child){
  font-size:3rem;
  background-color: rgb(53, 28, 28);
  border:0 15rem 0 15rem;
  
}
#mail{
  margin-top:1rem;
}
footer{
  margin:10rem 0 0 0;
   left: 0;
   bottom: 0;
   padding:2rem 0 1rem 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: left;
}


