.navbar{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
nav{
  background:blue;
  width:100%;
  height:70px;
}
nav ul{
  float:right;
  margin-right:20px;
}
.navbar a:hover{
  background-color:#00ffff;
  color: black;

}

.navbar a.active{
  background-color: #04AA6D;
  color: white;
  transition:.5s;
}
nav ul li{
  display:inline-block;
  list-style:none;
  margin-top:0px;
  line-height:80px;
  margin:0 5px;
  /* align-content: center;
  align-items: center; */
}
nav ul li a{
  text-decoration: none;
  font-size:16px; 
  color: #f2f2f2;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
.checkbtn{
  font-size:3opx;
  color:white;
  float:right;
  line-height:80px;
  margin-right:40px;
  cursor:pointer;


}
#check{
  display:none;
}
@media (max-width:900px){
  nav ul li a{
    font-size:16px;
  }
}
@media (max-width:800px){
  .checkbtn{
    display:block;
  }
  ul{
    position:fixed;
    width:100%;
    height:100vh;
    background:chocolate;
    top:60px;
    left:-100%;
    text-align:center;
    transition:all .5s;
  }
  nav ul li{
    display:block;
    margin:50px 0;
    line-height:30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover, a.active{
    background:none;
    color:rgb(121, 25, 150);
  }
  #check:checked ~ul{
    left:0;
  }
}
#profile{
  max-width:100%;
  margin:2vw 5v;
  height:auto;
  border-radius:50vw;
  object-fit:cover;
}
#about h3{
  font-size:5vw;
}
#about h4{
  font-size:3vw;
}
#about p{
  font-size:2vw;
}

