*{
  margin:0rem;
  padding:0rem;
  box-sizing:border-box;
}
.navbar{
  width:100%;
  background:black;
}
.navbar > nav  ul{
  list-style:none;
  display:flex;
  justify-content: flex-end;
 
}
.navbar > nav > ul li{
  align-items:center;
  padding:1rem 0;

}
.navbar> nav > ul li a{
  color:white;
  padding:1rem;
  font-size:1em;
  font-family:"Nunito sans";
  text-decoration:none;
  
}
.navbar a:hover{
  background:green;
}
.navbar a.disabled{
 color:white;
}
#check{
  display:none;
}
.checkarea{
  background-color:black;
  border-bottom:2px solid white;
  color:white;
  padding:10px;
  display:flex;
  justify-content: flex-end;
}
.checkarea label{
  background-color:black;
  width:45px;
  height:50px;
  color:white;
  cursor:pointer;
  border-radius:10px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.checkarea label span{
  background-color:white;
  height:2px;
  width:40%;
  margin:5px 0px;
  align-items:center;
  justify-content:center;
  transform: rotate(90deg);
  
}
.checkarea{
  display:none;

}
@media screen and (max-width:600px){
.navbar nav ul{
  flex-direction:column;
  display:none;
}
#check:checked + .navbar nav ul{
  display:flex;
}
.checkarea{
  display:flex;
}
}

.profile{
  display:grid;
  grid-template-columns: 30% 40% ;
  grid-row-gap:2rem;
  grid-column-gap:2px;
  margin-top:10rem;

}
.social a i{
  width:100%;
  height:auto;
  object-fit: cover;
  padding:0.5rem;
  display:block;
  


}
.social a{
  text-decoration:none
}
.name img {
  width:100%;
  height:auto;
  object-fit: cover;
 
  border-radius:30rem;
}
.name h3 h4{
  text-align:center;
} 
.about{
  background-color:black;
  color:white;
  grid-column: 2/ span 1;
  justify-content: center;


}

.footer{
  display:flex;
  background:black;
  color:white;
  width:100%;
  padding:2rem 0;
  margin-left:0px;;
  margin-top:20rem;
}


