.breadcrumb{
  background-color:black;
  display:grid;
  list-style:none;


}
.breadcrumb >nav>ul {
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  font-size: 1rem;
  display:flex;
}
.breadcrumb >nav> ul > li > a {
  color:white;
  text-decoration: none;
}
.breadcrumb>nav>ul>li + li:before {
  padding:0.5rem;
  color:white;
  content: ">\00a0";
}

.breadcrumb > nav > ul> li a:hover {
  color:green;
  font-weight: bolder;
}
.breadcrumb >nav>ul>li a:disabled{
  pointer-events: none;
}
#endnav{
  display:flex;
  float:right;
  


}
#endnav > div > a{
  color:white;
  padding:1rem;

}

@media screen and (max-width: 600px) {
  .breadcrumb>nav>ul{
    display:block;
  }
 
}
.service{
  display:grid;
  text-align:center;
  grid-template-rows:1fr 1fr;
  row-gap:0.5rem;
  margin-top:10rem;
  
}
.container{
  display:grid;
  grid-template-columns:33% 33% 33%;
  column-gap:2rem;
  margin-left:5rem;
  margin-right:8rem;


}
.container div{
  padding:5rem;
  border-style:solid;
}
.videoContainer{
  display:grid;
  grid-template-columns:33% 33% 33%;
  column-gap:2rem;
  margin-left:5rem;
  margin-right:8rem;


} 
.videoContainer  div{
    margin-top: 5rem;
    padding:2em 1em 0 1em;
    border-style:solid;
}
.videoContainer div video{
  width:100%;
  height:auto;
}
@media screen and (max-width:600px){
  .container{
    display:grid;
    grid-template-columns:1fr;
    margin-left:1rem;
    margin-right:1rem;
    row-gap: 5rem;
  
  }
  .videoContainer{
    display:grid;
    grid-template-columns:1fr;
    margin-left:1rem;
    margin-right:1rem;
  } 
  
  
}
footer{
  margin:15rem 0 0 0;
   left: 0;
   bottom: 0;
   padding:2rem 0 1rem 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: left;
}