*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.navbar{
  width:100%;
  padding:2rem 0 2rem 0;
  background-color:black;
}
.navbar nav ul{
  display:flex;
  flex-direction:row;
  list-style:none;
}
.navbar nav ul li a{
  color:white;
  text-decoration:none;
  padding:1rem;

}
.navbar nav ul li a:hover{
  background-color:green;

}
.navbar nav ul li a.disabled{
  color:white;
}
#endnav{
  display:flex;
  justify-content: flex-end;
  margin-top:-1rem;
  margin-right:5rem;
}
#endnav div{
  padding:0 1em 0 1em;
}
#endnav div a{
  color:white;
  text-decoration:none;

}

@media (max-width:600px){
  .navbar nav ul{
    display:flex;
    flex-direction:column;
    list-style:none;
  }
  .navbar nav ul li{
padding: 3%;

  }

  #endnav{
    display:flex;
    flex-direction:column;
    margin-top:1em;
  }
  #endnav div{
    padding:0.5rem 2rem;

  }
  #endnav div input{
    border-radius: 1rem;
    width:7rem;
  }
}


.service{
  display:grid;
  text-align:center;
  grid-template-rows:1fr 1fr;
  row-gap:0.5rem;
  margin-top:10rem;
  
}
.container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:2rem;
  margin-left:5rem;
  margin-right:8rem;


}
.container div{
  border-style:solid;
  padding:2em 1em 0 1em;
}
.container div:hover{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  background-color:black;
}
.container div p:hover{
  color:gold;
}
.container div img{
  width:100%;
}
.videoContainer{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:2rem;
  margin-left:5rem;
  margin-right:8rem;


} 
.videoContainer  div{
    margin-top: 5rem;
    border-style:solid;
}
.videoContainer div video{
  width:100%;
  height:auto;
}
@media screen and (max-width:600px){
  .container{
    display:grid;
    grid-template-columns:1fr;
    margin-left:1rem;
    margin-right:1rem;
    row-gap: 5rem;
  
  }
  .videoContainer{
    display:grid;
    grid-template-columns:1fr;
    margin-left:1rem;
    margin-right:1rem;
  } 
  .videoContainer div video{
    width:100%;
    height:auto;
  }
  
  
}
footer{
  margin:15rem 0 0 0;
   left: 0;
   bottom: 0;
   padding:2rem 0 1rem 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: left;
}