.breadcrumb{
  background-color:black;
  display:grid;
  list-style:none;


}
.breadcrumb >nav>ul {
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  font-size: 1rem;
  display:flex;
}
.breadcrumb >nav> ul > li > a {
  color:white;
  text-decoration: none;
}
.breadcrumb>nav>ul>li + li:before {
  padding:0.5rem;
  color:white;
  content: ">\00a0";
}

.breadcrumb > nav > ul> li a:hover {
  color:green;
  font-weight: bolder;
}
.breadcrumb >nav>ul>li a:disabled{
  pointer-events: none;
}
#endnav{
  display:flex;
  float:right;
  


}
#endnav > div > a{
  color:white;
  padding:1rem;

}

@media screen and (max-width: 600px) {
  .breadcrumb>nav>ul{
    display:block;
  }
 
}
.service{
  display:grid;
  text-align:center;
}
.container{
  display:grid;
  grid-template-columns:30% 30% 30%;
  background:grey;
}
.container > div{
  padding:1rem;
  border-style:solid;
  column-gap:20%;
}
.videoContainer{
  display:grid;
  grid-template-columns:30% 30% 30%;
}
.videoContainer>div{
    margin-top: 5rem;
    padding:2rem;
    border-style:solid;
}
footer{
  margin:10rem 0 0 0;
   left: 0;
   bottom: 0;
   padding:2rem 0 1rem 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: left;
}